// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: rgb(47, 30, 63);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {

    height: 20vh;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.342);
    box-shadow: inset 0 0 5px black;

    h1 {
        font-family: "Pixelify Sans", serif;
        color: gold;
        text-shadow:
        1px 0 1px black,
        0 1px 1px black,
        -1px 0 1px black,
        0 -1px 1px black,
        ;
        cursor: pointer;
        transition: all 0.2s;
    }

    h1:hover {
        transform: rotate(-5deg);
        scale: 110%;
    }
}

#navMenu {
    height: 10vh;
    border: solid 3px whitesmoke;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 5px black;

    a {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: whitesmoke;
        font-weight: bolder;
        font-family: "Pixelify Sans", serif;
        transition: all 0.4s;
    }

    #carroButton {
        &:hover {
            p {
                color: whitesmoke;
                background-color: rgb(206, 18, 18);
                box-shadow: 0 0 5px red;
                transform: rotate(-10deg);
                scale: 105%;
            }
        }
        p {
            background-color: rgb(173, 0, 0);
            align-self: center;
            margin: auto 0;
            margin-left: 2%;
            border-radius: 100%;
            text-align: center;
            width: 8%;
            transition: all 0.3s;
            font-family: 'Courier New', Courier, monospace;
        }
    }

    a:hover {
        color: goldenrod;
        backdrop-filter: brightness(50%);
    }
}

footer {
    margin-top: auto;
    padding: 1%;
    border-top: solid 3px whitesmoke;

    h1 {
        font-size: medium;
        margin-left: auto;
    }
}

#detailsMain {

    > * {
        border: solid 3px whitesmoke;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.541);
    }

    img {
        background-color: black;
        margin-right: 1%;
    }

    > div {
        height: fit-content !important;

        h1 {
            font-family: "Pixelify Sans", serif;
        }
    }
}

#loginMain {
    border: solid 3px whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.541);

    h1 {
        font-family: "Pixelify Sans", serif;
    }
}

#userlistContainer {
    > div {
        border: solid 3px whitesmoke;
        border-radius: 10px;

        div {
            h1 {
                font-family: "Pixelify Sans", serif;
            }
        }
    }
}

main:has(#createForm){
    h1 {
        font-family: "Pixelify Sans", serif;
    }
}

#createForm {
    border: solid 3px whitesmoke;
    border-radius: 10px;
}

.lineContainer {
    border: solid 3px whitesmoke;
    border-radius: 10px;

    div:nth-child(1) {
        border-radius: 100%;
        height: 5vw;
        background-position: center;
        background-size: cover;
    }

    h1 {
        font-family: "Pixelify Sans", serif;
    }
}

#cartSection {
    border: solid 3px whitesmoke;
    border-radius: 10px;
    height: fit-content;

    h1 {
        font-family: "Pixelify Sans", serif;
    }
}

#mainPedido {
    border: solid 3px whitesmoke;
    border-radius: 10px;

    h1 {
        font-family: "Pixelify Sans", serif;
    }
}

nav:has(.pagination) {
    margin: auto;

    .pagination {
        box-shadow: 0 0 5px black;
        border: solid 3px whitesmoke;
        overflow: hidden;
        border-radius: 10px;
        * {
            background-color: var(--bs-dark);
            * {
                border: solid 2px rgb(48, 48, 48);
            }

        }

        .page-item:not(.active, .disabled) {
            * {
                color: gold;
            }
        }
    }

}
